# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pytests\complex_k8s\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
